<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    <title>{{title}}- microservices</title>
    {%else%}
    <title>welcome to my blog</title>
    {%endif%}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- jika bukan search -->
    {%if not search %}
    <!-- tampilkan ini -->
    <h1>Dashboard Awal</h1>
    {%else%}
    <!-- jika ada -->
    <h2>search : {{search}}</h2>
    <h3>id: {{id}} </h3>
    {%endif%}

    

    <br>
    <a href="{{url_for('upload_file')}}">upload file</a>
    <!-- mengambil link berdasarkan fungsi bukan berdasarkan route -->
    <a href="{{url_for('login')}}">login</a>
    <a href="{{url_for('show_user',username='admin',email='admin123@gmail.com',password='hai')}}">admin</a>
</body>
</html>